.container {
  margin: 0.75rem auto 0 auto;
  width: 65%;
  max-width: 600px;
}
.btn {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  transition: border-bottom 100ms ease-in;
}
.active {
  border-bottom: 2px solid #000;
}
.btn + .btn {
  margin-left: 1.25rem;
}
